<div class="wrapper">
  <div class="mathExpressionWrapper">
    <span class="mathExpression" *ngIf="!mathExpression.length">0</span>
    <div class="mathExpression" #mathExprDiv>{{ mathExpression.join(' ') }}</div>
    <div class="instantResult">
      <span *ngIf="instantResult">{{ instantResult }}</span>
    </div>
  </div>
  <div class="numpadContainer">
    <app-number-button
      *ngFor="let btnContent of buttonsContent"
      [content]="btnContent" 
      (clickEmitter)="dispatchAction($event)"
    ></app-number-button>
  </div>
</div>
